In [1]:
import pandas as pd
import numpy as np

In [3]:
p=pd.read_csv("weather.csv")
p

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [18]:
concept=np.array(p)
concept

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same', 'yes'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change', 'no'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change', 'yes']],
      dtype=object)

In [19]:
target=np.array(p)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [15]:
def train(con, tar):
    for i, val in enumerate(tar):
        if val=="yes":
            specific_h=con[i].copy()
            break
    for i, val in enumerate(con):
        if tar[i]=="yes":
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [16]:
print(train(concept,target))

['sunny' 'warm' '?' 'strong' '?' '?']